body {
    font-family: Arial, Helvetica, sans-serif;
    
}

#cal {
    width: 500px;
    background-color: rgb(94, 94, 94);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.034);
    margin: auto;
    color: white;
    
}

.tela { 
    height: 80px;
    color: white;
    text-align: right;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
    padding: 10px;

}

.button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 60px 60px 60px 60px;
    
}

div > button {
    color: white;
    border-radius: 6px;
    font-size: 30px;
}

button:hover {
    background-color: rgb(168, 168, 168);
}

#zero {
    grid-column: 1 / span 2;
}

.btn-orange {
    background-color: orange;
    
}

.btn-gray {
    background-color: #585858;
}

.btn-light-gray {
    background-color: #747474;
}